<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/cdn/CSS/registerAnderror.css">
</head>
<body>
    <div class="Header">
        <h1>WordleVS</h1>
    </div>
    <div class="error-message-container" id ="error-container">
        <div class="error-box" id ="error-box">
            <h2 class="error-message-header" id="error-header"> <%=error %> </h2>
            <div class="message">
                    <p style="text-align: center;"><%=message %></p>
                    <ul>
                        <% tips.forEach((tip) => { %>
                            <li><%= tip%></li>
                        <%}) %>
                    </ul>
            </div>
            <div class="button-container">
                <button class="error-button" id="error-page-button"><%= button %></button>
            </div>
        </div>
    </div>
    <script>
        const cardButton = document.querySelector('.error-button');
        cardButton.addEventListener('click', function(event) {
            window.location.href = '<%= buttonlink %>';
        })
    </script>
</body>
</html>